/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


/*
=============== 
Variables
===============
*/
body{
  font-family: "Catamaran", sans-serif;
  background-color: #778b3b;
  margin: auto;
  padding: auto;
  position: relative;
}

h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing); */
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 5rem;
  letter-spacing: 10px;
  color: #f6b528;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h3 {
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  color: white;
  text-decoration:underline;
  text-underline-offset: 0.3em;
}
h5 {
  /* background-color: #000; */
  /* content: ""; */
  display: inline-block;
  /* height: 3px; */
  position: relative;
  /* vertical-align:text-bottom; */
  width: 70%;
  /* text-decoration: overline underline; */
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  text-align: center;
}

h6 {
border-top: 4px solid black;
  border-bottom: 4px solid black;
  text-align: center;
}


p {
font-size: 1.5rem;
}


/*
=============== 
Header
===============
*/

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("./cactus-red.jpg") center/cover no-repeat fixed; 
  position: relative;
  /* animation */
  overflow-x: hidden;
  /* research what position:relative does and what overflow-x: hidden also does */

}
#title {
  text-align: center; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.banner {
  text-align: center; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/*
=============== 
Chavela Image & Container 
===============
*/



/* .container {
  border: 5px;
  text-align: center;
  font-size: 35px;
  color: blue;
  display: flex;
} */

.quote {
  background-color: rgb(246, 181, 40);
  text-align: center;
  width: auto;
  height: 400px;

  /* i can delete container, b/c i decided not to use flexbox for this section */
}
/* .box-2 {
  flex-grow: 1;
  background-color: rgba(246, 181, 40, 0.79);
  text-align: center;
  float: right;
} */

.quote-resize {
  font-size: 3rem;
  padding: 20px 20px;
  font-family: 'Yellowtail', cursive;
  /* text-decoration: underline;
  text-decoration: overline; */
  color: black;
  
}

@media (max-width: 916px) {
  .quote-resize {
    font-size: 2rem;

  }
}



/* .btn-hero {
  display: inline-block;
  padding:1rem 1rem;
  margin:1rem;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1; 
  text-align:center;
  text-transform: uppercase;
} */

.btn-position {
  text-align: center; 
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: 916px) {
  .btn-position {
    /* top: 50%; */
    bottom: 37%;

  }
}


.btn-hero {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: black;
  font-size: 1rem;
  font-family: "Catamaran", sans-serif;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}

.btn-hero:hover,
.btn-hero:active {
  background-color: #778b3b;
  border-color: black;
  color: black;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}



.chavela-img {
  padding-top: 40px;
  /* padding-top is making the img egg shapes, changing it
  to padding:10px; will make it perfectly round. */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 30%;
  
}

.chavela-old-img {
/* padding: 40px; */
  margin: 10px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  
}

/* =================== old start of timeline styling ================================= */

.timeline-ul {
  /* max-width: 1000px; DONT need this b/c we have @media for li */
  margin: 0 auto 50px auto;
  text-align: center;
  display: block;
  line-height: 1.6;
  list-style-type: none;
  /* font-size: 2rem; */
}

li {
  margin: 16px 0;
}

@media (min-width: 460px) {
  li {
    font-size: 1.5rem;
    /* line-height: 1.2; */
  }
}

.bold {
font-weight: bold
}



a {
  color: #477ca7;
}
a:visited {
  color: #74638f;
}
a:hover {
  color: #f1f1f1;
}

/* ================ SIDEBAR ========= */

/* the sidebar icon button */
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: black;
  transition: all 0.3s linear;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.sidebar-toggle:hover {
  color: #778b3b;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar-header {
  display: relative;
  /* justify-content: space-between; */
  justify-content: left;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: #778b3b;
  transition: all 0.3s linear;;
  cursor: pointer;
  
  
} */
.close-btn:hover {
  color: red;
  transform: rotate(360deg);
}

.links {
  list-style-type: none;
}
.links a {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1.5rem 1.5rem;
  color: black;
  transition: all 0.3s linear;
  
}
/* .links a:hover {
  background: orange;
  color: var(--clr-primary-5);
  padding-left: 1.75rem;
} */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(238, 168, 37); 
  text-align:end;
  /* display: grid; */
  /* grid-template-rows: auto 1fr auto; */
  /* row-gap: 1rem; */
  transition: all 0.3s linear;
  transform: translate(-100%);
  z-index: 500;

}

.show-sidebar {
  transform: translate(0);
}
/* @media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
} */
